<div class="py2 post-footer">
  <div class="center">
    <small class="center small">
      😊もしこの記事が役に立ったなら、コーヒー代をお願いします☕️
    </small>
    <div class="m1">
      <a href="https://buy.stripe.com/7sI17U2NJcRt1oc144" target="_blank">
        <div class="button button-blue">投げ銭する</div>
      </a>
    </div>
  </div>

  <hr class="m2">

  <div class="row justify-content-center">
    <div class="col-sm-2 offset-sm-4 text-center">
      <div class="auther-thumb">
        <a href="{{ site.baseurl }}/">
          <img src="/images/hirofukami.jpg" alt="Hiro Fukami" class="rounded-circle">
        </a>
      </div>
    </div>
    <div class="col-sm-6 text-left">
      <p>
        <strong>筆者について</strong><br>
        深海寛信<br>
        ふかみひろのぶ Hiro Fukami
      </p>
    </div>
  </div>

  <div class="py1">
    <small>
      {{ site.text.contact.explain }}
    </small>
  </div>
  <div class="center">
    <a href="/contact">
      <div class="button button-blue">
        コンタクトフォーム
      </div>
    </a>
  </div>
</div>
